*{
    margin: 0;
    padding: 0;
}
html{
    background-color: rgb(225, 224, 224);
}

h2,p, input{
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 5px;
}

button{
    padding: 3px;
}

.contenedor-botones{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 25px;
}

button:hover{
    background-color: rgb(193, 199, 210);
}

h2{
    padding-top: 30px;
    color: rgb(31, 92, 206);
    letter-spacing: 5px;
}

.calculadora{
    border: 3px solid;
    width: 70%;
    padding: 25px;
    justify-content: center;
    margin: 25% auto;
    background-image: linear-gradient(rgb(239, 221, 221), rgb(152, 129, 0));
    box-shadow: 5px 5px 5px rgb(97, 96, 96);
}
